.properties-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(450px, 450px));
  gap: 30px;
}

@media (max-width: 500px) {
  .properties-grid {
    grid-template-columns: minmax(0, 1fr);
  }
}
