.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  row-gap: 30px;
  justify-items: center;
}

.gridItem{
  border: 1px solid #ffffff;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.gridItem:hover{
  border-color: #ff0000;
  cursor: pointer;
}

img{
  width: 200px;
  height: auto;
}

.noImage{
  color: #c01010;
}

.topBar{
  margin-bottom: 1rem;
  margin-top: 1rem;
}